@charset "UTF-8";

body{
    font-family: "Hiragino Kaku Gothic Pro","Meiryo","sans-serif";
    font-size: 15px;
    border-top: 10px solid #6495ed;
    background:linear-gradient(#fbc2eb,#a6c1ee);
    backdrop-filter: blur(6px);
}
a{
    text-decoration: none;
    color: #333;
}
.logo{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.logo img {
    display: inline-block;
    width: 32px;
    margin-bottom: 5px;
}
.w_inner{
    width: 800px;
    margin: 0 auto;
}
.w_inner h1{
    font: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}
.logo h1{
    font-size: 15px;
}
.w_inner h2{
    font: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
}
.w_inner p{
    font: bold;
    font-size: 14px;
    text-align: left;
    margin-bottom: 5px;
}
.footer{
    margin-top: 40px;
}
.pp_link{
    text-align: right;
    margin-bottom: 7px;
}
.copy{
    text-align: center;
    background: #6495ed;
    color:#fff;
    font-size: 12px;
    padding: 7px 0 3px;
}