@charset "UTF-8";

body{
    font-family: "Hiragino Kaku Gothic Pro","Meiryo","sans-serif";
    font-size: 15px;
    border-top: 10px solid #6495ed;
    background:linear-gradient(#fbc2eb,#a6c1ee);
    backdrop-filter: blur(6px);
}
a{
    text-decoration: none;
    color: #333;
}
.logo{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.logo img {
    display: inline-block;
    width: 32px;
    margin-bottom: 5px;
}
.w_inner{
    width: 800px;
    margin: 0 auto;
}
.grade ul{
    margin-bottom: 30px;
}
.grade ul li{
    width: 800px;
    min-width: 800px;
    height: 100px;
    min-height: 100px;
    text-align: center;
    border: 1px solid #ddd;
}
.grade ul li:first-child{
    border-left: 1px solid #ddd;
}
.grade ul li a{
    display: block;
    background: #6495ed;
    color: #fff;
    padding: 10px 27px 10px;
    font-size: 50px;
}
.header_img{
    text-align: center;
    margin-bottom: 50px;
}
.footer{
    margin-top: 40px;
}
.pp_link{
    text-align: right;
    margin-bottom: 7px;
}
.copy{
    text-align: center;
    background: #6495ed;
    color:#fff;
    font-size: 12px;
    padding: 7px 0 3px;
}
.container_works ul li{
    width: 200px;
    min-width: 200px;
    text-align: center;
    border-right: 1px solid #ddd;
}
.header ul li:first-child{
    border-left: 1px solid #ddd;
}